/* Estilo general del cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* Contenedor principal del formulario */
h1 {
  text-align: center;
  color: #333;
  margin-top: 5%;

}
section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 10vh;
  margin-left: 5vw;
  padding: 20px;
  width: 40vw;

}

/* Estilo para etiquetas de formulario */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para los campos de entrada de texto */
input[type="text"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

/* Estilo para el botón */
.pointer {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pointer:hover {
  background-color: #2980b9;
}

/* Estilo para el formulario */
form {
  margin: 0;
}

/* Estilo para el contenedor de selección y botón de envío */
div.select-container {
  display: flex;
  align-items: center;
}

/* Estilo para el campo de selección */
select {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

/* Estilo para el botón de envío */
.pointer[type="submit"] {
  width: 30%;
}
