<main class="main">
  <div class="content">
    <div class="left-side">
      
      <h1>Hello, {{ title }}</h1>
      <p>{{ nombreusuario }}</p>
      <img src="{{ urlImagen }}" alt="">
      <button (click)="cambiaTitulo()">Cambia Título</button>
      <input type="text" name="" id="" (keyup.enter)="pulsadaTecla()" [(ngModel)]="title">
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>

  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
