@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lexend, sans-serif;
}
svg {
    border: 5px solid blue;
    background-color: rgb(33, 33, 33);
}

body {
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: blue solid 0.15em;
    border-radius: 0.25em;
    color: blue;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
  }
  
  .button p {
    z-index: 1;
  }
  
  .button:hover {
    color: #212121;
  }
  
  .button:active {
    border-color: rgb(0, 132, 255);
  }
  
  .button::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: blue;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .button::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button:hover:before {
    transform: translateX(-1em);
  }
  
  .button:hover:after {
    transform: translateX(1em);
  }
  
  .button:active:before,
  .button:active:after {
    background: teal;
  }