body{
    background-color: rgb(33, 33, 33);

}
svg {
    border: 5px solid blue;
    background-color: rgb(33, 33, 33);
}

body {
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}